<div class="btn-popover">
  <div class="confirmation top-left"
       [ngClass]="{
       'hide': !toggle
       }" >
    <i class="material-icons arrow">arrow_drop_down</i>
    <p class="text-bold margin-bottom-10px">
      <ng-content select="[buttom-popover-tittle]">
      </ng-content>
    </p>
    <ng-content select="[buttom-popover-body]">
    </ng-content>
    <div class="btn-group right">
      <button class="btn btn-xs"
              *ngFor="let buttom of buttoms"
              [ngClass]="{
              'btn-success': buttom.class === 'btn-success',
              'btn-primary': buttom.class === 'btn-primary'
              }"
              (click)="onClickButtom(buttom)">
        {{ buttom.name }}
      </button>
    </div>
  </div>
  <a class="btn btn-xs btn-primary"
     (click)="onToggled()">
    <i class="material-icons">insert_comment</i>
    <span>{{ name }}</span>
  </a>
</div>
