<!-- <div class="box fullscreen">
  <div class="fondo">
    <div class="box-body">
      <div [style.display]="showModal ? 'block' : 'none'"
      class="login-form-modal" id="imagemodal" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <img src="assets/img/logo_megacable.png" class="logo" />
          <br>
          <div class="modal-content">
            <label style=" font-size: 20px; margin-top: 10px;">Reclutamiento</label>
            <div class="modal-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="text" formControlName="username" class="form-control" placeholder="Nombre de usuario"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">*Nombre de usuario es requerido</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">*Password es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <select class="custom-select" formControlName="compania"
                    [ngClass]="{ 'is-invalid': submitted && f.compania.errors }">
                        <option value="">Seleccionar</option>
                        <option value="NHELIOS">ho1a</option>
                        <option value="METROCARRIER">Metrocarrier</option>
                    </select>
                    <div *ngIf="submitted && f.compania.errors" class="invalid-feedback">
                      <div *ngIf="f.compania.errors.required">*Selecionar compañia</div>
                    </div>
                </div>
                <div class="form-group">
                  <button mat-raised-button type="submit" [disabled]="loading" class="btn btn-primary">
                    Ingresar
                    <span *ngIf="loading"></span>
                    <mat-icon *ngIf="loading"><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <br>
          <label>Powered by</label>
          <img src="assets/img/logo_ho1a_MetroCarrier.png" class="bottom" />
        </div>
      </div>
    </div>
  </div>
</div> -->
