<!--Footer-->
<div class="box-body" *ngIf="visible()">
  <div class="flex flex-center flex-wrap flex-between margin-bottom-30px">
    <h5>{{ currentStep?.description }}</h5>
  </div>
  <div class="row">
    <ho1a-card-accordion
      *ngFor="let candidate of databackground?.componenteEntrevistas; let i = index"
      [index]="i + 1"
      [data]="candidate"
      (clickpopup)="onClickPopup($event, candidate)"
      class="col-xs-12 col-sm-4 col-md-6 col-lg-4 wrap-busqueda-candidato">
      <ho1a-accordion-title-candidate
        card-accordion-tittle
        [candidate]="candidate">
      </ho1a-accordion-title-candidate>
      <ho1a-step-interview-candidate-custom
        card-accordion-body
        [visibleButtomInterview]="!readonly() && getConfigurationByControl('agregarNuevoEntrevistador').configuration.edicion"
        [visibleCheckSuitableCandidate]="candidate?.data?.puedeSeleccionarCandidatoIdoneo && getConfigurationByControl('status').configuration.edicion"
        [candidate]="candidate">
      </ho1a-step-interview-candidate-custom>
    </ho1a-card-accordion>
  </div>
</div>

<!--Footer-->
<div class="box-footer flex flex-center flex-wrap flex-between" *ngIf="visible()">
</div>

<!--Modales-->
<ho1a-modal-interview-format
  [data]="candidateSelected"
  [readonly]="readOnlyFormatIntervier"
  (cancel)="onCancelModalInterviewFormat()"
  (clickButtomAction)="onClickButtomActionModalInterviewFormat($event)"
  *ngIf="toggleModalInterviewFormat">
</ho1a-modal-interview-format>
<ho1a-modal-datetime
  [fechaMinima]="today"
  (cancel)="onCancelModalDateTime()"
  (clickButtomAction)="onClickButtomActionModalDateTime($event)"
  *ngIf="toggleModalDateTime">
</ho1a-modal-datetime>
