<form [formGroup]="form">
  <ho1a-modal-form
    [tittle]="'Agregar nuevo candidato'"
    [form]="form"
    [buttoms]="butttom"
    (cancel)="onCancel()"
    (clickButtom)="onClickButtom($event)">
    <div modal-body>
      <div class="row margin-top-20px">
        <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20px">
          <input
            matInput
            #email
            [readonly]="readOnlyMail"
            type="email"
            placeholder="Correo"
            (keydown)="onKeydown($event)"
            formControlName="email">
          <mat-hint>
            <span class="required" *ngIf="existMail" [innerHTML]="'Correo existente'"></span>
            <span *ngIf="existMail === false" [innerHTML]="'Correo verificado'"></span>
            <span *ngIf="existMail === undefined" [innerHTML]="'Requerido'"></span>
          </mat-hint>
          <mat-error>
            <span [innerHTML]="'Requerido'"></span>
          </mat-error>
        </mat-form-field>
        <a class="btn btn-primary" *ngIf="existMail || existMail === undefined" (click)="onSearchEmail()">
          <mat-icon>search</mat-icon>
          <span>Verificar correo</span>
        </a>
      </div>
      <div class="row margin-top-20px" *ngIf="existMail === false">
        <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20px">
          <input
            matInput
            placeholder="Nombre(s)"
            formControlName="nombre">
          <mat-hint>
            <span [innerHTML]="'Requerido'"></span>
          </mat-hint>
          <mat-error>
            <span [innerHTML]="'Requerido'"></span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20px">
          <input
            matInput
            placeholder="Apellido Paterno"
            formControlName="paterno">
          <mat-hint>
            <span [innerHTML]="'Requerido'"></span>
          </mat-hint>
          <mat-error>
            <span [innerHTML]="'Requerido'"></span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20px">
          <input
            matInput
            placeholder="Apellido Materno"
            formControlName="materno">
          <mat-hint>
            <span [innerHTML]="'Requerido'"></span>
          </mat-hint>
          <mat-error>
            <span [innerHTML]="'Requerido'"></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </ho1a-modal-form>
</form>

