
<div class="modal-body">
  <div class="opcionMenu">
    <div class="modal-dialog">
      <div class="modal-content">
        <label>Incremento de plantilla</label>
        <br>
        <button mat-raised-button (click)="incrementoIndividual()" class="btn btn-primary">
          <img src="assets/img/icon_person.png" style="margin-right: 30px;" alt="">
          Solicitud individual
        </button>
        <button mat-raised-button (click)="incrementoMasiva()" class="btn btn-primary">
          <img src="assets/img/icon_people.png" style="margin-right: 30px;" alt="">
          Solicitud masiva
        </button>
      </div>
    </div>
  </div>
  <div class="opcionMenu">
    <div class="modal-dialog">
      <div class="modal-content">
        <label>Cobertura de vacantes</label>
        <br>
        <button mat-raised-button (click)="coberturaIndividual()" class="btn btn-primary">
          <img src="assets/img/icon_person.png" style="margin-right: 30px;" alt="">
          Solicitud individual
        </button>
      </div>
    </div>
  </div>
</div>
