.content {
    width: calc(100% - 300px);
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    float: right;
    transition: all 0.3s;
    position: relative;
}

@media (max-width: 90em) {
    .content {
        width: calc(100% - 250px);
    }
}

@media (max-width: 64em) {
    .content {
        width: 100%;
    }
}

.wrap-content {
    padding: 20px;
}

/* //////////  ESTILOS APLICADOS AL ESCONDER EL MENU /////////*/
@media only screen and (min-width: 64em) {
    div.hide-menu ho1a-header {
        width: 100%;
    }

    div.hide-menu ho1a-side-nav {
        left: -1000px;
    }

    div.hide-menu .content {
        width: 100%;
    }

    div.hide-menu .logo-header {
        /*display: block;*/
        margin-left: 0px;
        opacity: 1;
    }
}
