<div class="box-body" *ngIf="visible()">
  <div class="flex flex-center flex-wrap flex-between margin-bottom-30px">
    <h5>{{ currentStep?.description }}</h5>
    <p class="text-rojo text-bold text-12px">* Documentos obligatorios</p>
  </div>
  <ho1a-upload-files
    [withtemplate]="true"
    [documents]="databackground?.expediente"
    (delete)="onDelete($event)"
    (upload)="onUpload($event)">
  </ho1a-upload-files>
</div>


<!--Footer-->
<div class="box-footer flex flex-center flex-wrap flex-between" *ngIf="visible()">
  <div class="btn-group">
    <a class="btn btn-primary-outline"
       *ngIf="isVisibleSend && (getActionByControl('EnviarDocumentacionRequisicion').visible || visualizarEnvioDocumentacion)"
       (click)="onSend()" >
      <i class="material-icons">send</i>
      <span>Enviar documentación</span>
    </a>
    <ho1a-buttom-action-confirmation-inputbox
      *ngIf="getActionByControl('ResponderDocumentacionRequisicion').visible"
      (actionResult)="onActionResultAcceptOffer($event)"
      [option]="optionButtomAceptarPropuesta">
    </ho1a-buttom-action-confirmation-inputbox>
  </div>
</div>
