.candidato-resultado-entrevista {
  background: #e2e8ed;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all .3s;
}

.candidato-resultado-entrevista:hover {
  background: #43495e;
  color: #fff;
}

.candidato-resultado-entrevista.active {
  background: #43495e;
  color: #fff;
}
