<div class="box">
  <div class="box-body">
    <h6 class="margin-bottom-20px">Datos generales</h6>
    <div class="general-info padding-top-10px padding-bottom-10px">
      <p class="data-1 text-gray">ID</p>
      <div class="data-2">
        <p class="text-bold">{{id ? 'A' : '' }}{{ id }}</p>
      </div>
    </div>
    <div *ngIf="fechaUltimoEstatus">
      <div class="divider opacity-60"></div>
      <div class="general-info padding-top-10px padding-bottom-10px">
        <p class="data-1 text-gray">Fecha solicitud de autorización</p>
        <div class="data-2">
          <p class="text-bold">{{ fechaUltimoEstatus | date:'mediumDate' }}</p>
          <p>{{ fechaUltimoEstatus | date:'mediumTime' }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="fechaSolicitud">
      <div class="divider opacity-60"></div>
      <div class="general-info padding-top-10px padding-bottom-10px">
        <p class="data-1 text-gray">Fecha de autorización</p>
        <div class="data-2">
          <p class="text-bold">{{ fechaSolicitud | date:'mediumDate' }}</p>
          <p>{{ fechaSolicitud | date:'mediumTime' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="btn-group">
      <a class="btn btn-primary btn-block"
         (click)="onCreate()"
         *ngIf="!exist">
        <i class="material-icons">add</i>Crear
      </a>
    </div>
  </div>
</div>
