<div class="box-body" *ngIf="visible()">
  <div class="flex flex-center flex-wrap flex-between margin-bottom-30px">
    <h5>{{ currentStep?.description }}</h5>
    <div class="btn-group right">
      <a class="btn btn-primary"
         *ngIf="getAction('PlantillaEntrevistaRequisicion').visible"
         (click)="onToggleModalTemplateCompetencies()">
        <i class="material-icons">list_alt</i>
        <span class="hidden-xs">{{ getAction('PlantillaEntrevistaRequisicion').descripcion }}</span>
      </a>
    </div>
  </div>
  <ho1a-step-terna-list
    *ngFor="let terna of databackground?.componenteTernas"
    [data]="terna">
  </ho1a-step-terna-list>
</div>

<!--Footer-->
<div class="box-footer flex flex-center flex-wrap flex-between" *ngIf="visible()">
</div>

<!--Modales-->
<ho1a-modal-template-competencies
  [readonly]="getAction('PlantillaEntrevistaRequisicion').readonly"
  [requisicionId]="data.id"
  [data]="databackground?.templateInterview"
  (cancel)="onCancelModalTemplateCompetencies()"
  (clickButtomAction)="onAcceptModalTemplateCompetencies($event)"
  *ngIf="toggleModalTemplateCompetencies">
</ho1a-modal-template-competencies>
