<form [formGroup]="form">
  <!--Body-->
  <div class="box-body" *ngIf="visible()">
    <!--Title-->
    <div class="flex flex-center flex-wrap flex-between margin-bottom-30px">
      <h5>{{ currentStep?.description }}</h5>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="row middle-xs margin-bottom-30px">
            <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
              <img class="img-responsive" src="assets/img/user_photo.png">
            </div>
            <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
              <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">SOLICITANTE</p>
              <h6 class="text-bold text-16px">{{ data?.solicitante?.nombre + ' ' + data?.solicitante?.apellidos }}</h6>
              <p class="text-gray text-13px">{{ data?.solicitante?.puesto }}</p>
            </div>
          </div>
          <div class="row middle-xs margin-bottom-30px">
            <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
              <i class="material-icons icon-preview">supervised_user_circle</i>
            </div>
            <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
              <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">ÁREA</p>
              <h6 class="text-bold text-16px">{{ data?.solicitante?.area }}</h6>
            </div>
          </div>
          <div class="row middle-xs margin-bottom-30px">
            <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
              <i class="material-icons icon-preview">layers</i>
            </div>
            <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
              <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">NIVEL</p>
              <h6 class="text-bold text-16px">{{ data?.solicitante?.nivelOrganizacional }}</h6>
            </div>
          </div>
          <div class="row middle-xs margin-bottom-30px">
            <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
              <i class="material-icons icon-preview">work</i>
            </div>
            <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
              <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">EMPRESA</p>
              <h6 class="text-bold text-16px">{{ data?.solicitante?.empresa }}</h6>
            </div>
          </div>
        </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
        <div class="row">
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px">
            <mat-select placeholder="Empresa"
                        formControlName="empresa">
              <mat-option *ngFor="let item of catalogs?.empresas" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('empresa')
                }"
                    [innerHTML]="getHintByControl('empresa')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('empresa')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px">
            <mat-select placeholder="Motivo de Ingreso"
                        formControlName="motivoIngreso">
              <mat-option *ngFor="let item of catalogs?.motivosIngresos" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('motivoIngreso')
                }"
                    [innerHTML]="getHintByControl('motivoIngreso')">
              </span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('motivoIngreso')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px"
                          *ngIf="puestoSolicitadoVisible">
            <mat-select placeholder="Puesto Solicitado"
                        formControlName="puestoSolicitado">
              <mat-option *ngFor="let item of catalogs?.puestosadam" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('puestoSolicitado')
                }"
                    [innerHTML]="getHintByControl('puestoSolicitado')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('puestoSolicitado')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px"
                          *ngIf="aliasVisible">
            <mat-select placeholder="Alias"
                        formControlName="aliasId">
              <mat-option *ngFor="let item of catalogs?.aliasadam" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('aliasId')
                }"
                    [innerHTML]="getHintByControl('aliasId')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('aliasId')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-4 margin-bottom-30px"
                          *ngIf="infoAdamVisible">
            <input matInput
                   type="number"
                   placeholder="Tus vacantes preautorizadas"
                   formControlName="numeroVacantes">
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('numeroVacantes')
                }"
                    [innerHTML]="getHintByControl('numeroVacantes')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('numeroVacantes')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-8 margin-bottom-30px"
                          *ngIf="infoAdamVisible">
            <input matInput
                   placeholder="Tabulador"
                   formControlName="tabuladorSalarioMonto">
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('tabuladorSalarioMonto')
                }"
                    [innerHTML]="getHintByControl('tabuladorSalarioMonto')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('tabuladorSalarioMonto')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px"
                          *ngIf="infoAdamVisible">
            <input matInput
                   placeholder="Departamento"
                   formControlName="departamento">
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('departamento')
                }"
                    [innerHTML]="getHintByControl('departamento')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('departamento')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px"
                          *ngIf="infoAdamVisible">
            <textarea matInput
                      placeholder="Descripción del Trabajo"
                      formControlName="descripcionTrabajo">
            </textarea>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('descripcionTrabajo')
                }"
                    [innerHTML]="getHintByControl('descripcionTrabajo')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('descripcionTrabajo')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px"
                          *ngIf="infoAdamVisible">
            <textarea matInput
                      placeholder="Responsabilidades"
                      formControlName="responsabilidades">
            </textarea>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('responsabilidades')
                }"
                    [innerHTML]="getHintByControl('responsabilidades')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('responsabilidades')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px">
            <input matInput
                   placeholder="Observaciones"
                   formControlName="observaciones">
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('observaciones')
                }"
                    [innerHTML]="getHintByControl('observaciones')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('observaciones')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px">
            <mat-select placeholder="Localidad"
                        formControlName="localidad">
              <mat-option *ngFor="let item of catalogs?.localidades" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('localidad')
                }"
                    [innerHTML]="getHintByControl('localidad')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('localidad')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px" *ngIf="otraLocalidadVisible">
            <input matInput
                   placeholder="Otra localidad"
                   formControlName="otraLocalidad">
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('otraLocalidad')
                }"
                    [innerHTML]="getHintByControl('otraLocalidad')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('otraLocalidad')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px">
            <mat-select placeholder="Tipo de Plaza"
                        formControlName="tipoPlaza">
              <mat-option *ngFor="let item of catalogs?.tiposPlazas" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('tipoPlaza')
                }"
                    [innerHTML]="getHintByControl('tipoPlaza')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('tipoPlaza')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px" *ngIf="tipoPlazaVisible">
            <input matInput
                   [readonly]="true"
                   [min]="today"
                   [matDatepicker]="pickerfechainicio"
                   placeholder="Fecha Inicio"
                   formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="pickerfechainicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerfechainicio></mat-datepicker>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('fechaInicio')
                }"
                    [innerHTML]="getHintByControl('fechaInicio')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('fechaInicio')"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-6 margin-bottom-30px" *ngIf="tipoPlazaVisible">
            <input matInput
                   [readonly]="true"
                   [min]="startfechaInicio"
                   [matDatepicker]="pickerfechafinal"
                   placeholder="Fecha Final"
                   formControlName="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="pickerfechafinal"></mat-datepicker-toggle>
            <mat-datepicker #pickerfechafinal></mat-datepicker>
            <mat-hint>
              <span [ngClass]="{
                  'required': showAsRequired('fechaFin')
                }"
                    [innerHTML]="getHintByControl('fechaFin')"></span>
            </mat-hint>
            <mat-error>
              <span [innerHTML]="getErrorByControl('fechaFin')"></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="box-footer flex flex-center flex-wrap flex-between" *ngIf="visible()">
    <div class="btn-group">
      <ho1a-button-action-confirmation
        [typebutton]="buttonSave"
        [textButton]="getActionByControl('GuardarRequisicion').descripcion"
        [positionLeft]="false"
        [visible]="getActionByControl('GuardarRequisicion').visible"
        [disabled]="false"
        (confirm)="onSave()">
      </ho1a-button-action-confirmation>
      <ho1a-button-action-confirmation
        [typebutton]="buttonSend"
        [textButton]="getActionByControl('SolicitarAutorizacionRequisicion').descripcion"
        [positionLeft]="false"
        [visible]="getActionByControl('SolicitarAutorizacionRequisicion').visible"
        [disabled]="!validForm"
        (confirm)="onSaveValidation()">
      </ho1a-button-action-confirmation>
      <ho1a-button-action-confirmation
        [typebutton]="buttonDelete"
        [textButton]="getActionByControl('EliminarRequisicion').descripcion"
        [positionLeft]="false"
        [visible]="getActionByControl('EliminarRequisicion').visible && exist"
        [disabled]="false"
        (confirm)="onDelete()">
      </ho1a-button-action-confirmation>
    </div>
  </div>

  </form>
