<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <ho1a-loading *ngIf="loadingInTheBackground"></ho1a-loading>
    <ho1a-form-general-data
      [item]="item"
      (create)="onCreateRequisition()">
    </ho1a-form-general-data>
    <ho1a-authorization-matrix
      *ngIf="exist"
      [enableButtonAction]="true"
      [matrix]="item?.matrizValidacion"
      [titleModalInputCommentsConfirmation]="'Comentarios'"
      (confirmationValidation)="onValidateAuthorizationRequisition($event)">
    </ho1a-authorization-matrix>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <ho1a-form-request-place
      [data]="item"
      [databackground]="itemBackground"
      [configuration]="configuration"
      *ngIf="exist && configuration">
    </ho1a-form-request-place>
  </div>
</div>

<ho1a-loader
  *ngIf="loadingStart || loadingChange"
  [fullscreen]="true">
</ho1a-loader>
