<div class="over-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <p class="">Llámanos 01.800.347.4849  |  contacto@ho1a.com</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 end-lg end-md end-sm center-xs">
        <p class="link-green close-session" (click)="onLogout()" >Cerrar sesión <i class="material-icons text-16px">lock</i></p>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="container">
    <div class="row flex flex-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 start-lg start-md start-sm center-xs">
        <img src="./assets/img/logo-hola-metrocarrier.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 end-lg end-md end-sm center-xs">
        <p class="text-bold truncate">
          <ng-content select="[landing-completenameuser]"></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="sub-header">
  <h1 class="text-green text-center">
    <ng-content select="h1">
    </ng-content>
  </h1>
  <img src="./assets/img/header-candidatos.jpg">
</div>
<div class="wrap-content">
  <ng-content select=".container">
  </ng-content>
</div>
<div class="footer">
  <div>
    <div class="center-xs margin-bottom-30px">
      <img class="" src="./assets/img/logo-hola-metrocarrier-blanco.png">
    </div>
    <p class="opacity-60 text-center margin-bottom-30px">
      Queremos escucharte. Acércate a nuestros especialista
      <br class="hidden-xs">
      y descubramos juntos el poder de la tecnología.
    </p>
    <div class="flex flex-center flex-wrap flex-justify-center">
      <p class="opacity-60 text-center margin-right-10px">Asesoría comercial 01 800 347 4849</p>
      <p class="opacity-60 text-center">|</p>
      <p class="opacity-60 text-center margin-left-10px margin-right-10px">contacto@ho1a.com</p>
      <p class="opacity-60 text-center">|</p>
      <a [href]="informacionComplementaria?.sucursalesUrl"
           target="_blank"
           class="opacity-60 text-center margin-left-10px text-white">
        {{ informacionComplementaria?.sucursalesDescripcion }}
      </a>
    </div>
    <br/>
    <div class="flex flex-center flex-wrap flex-justify-center">
      <a [href]="informacionComplementaria?.privacidadUrl"
         target="_blank"
         class="opacity-100 text-center margin-left-10px text-white">
        {{ informacionComplementaria?.privacidadDescripcion }}
      </a>
    </div>
    <div class="footer-social margin-top-20px">
      <i class="fab fa-facebook-square link-green"></i>
      <i class="fab fa-twitter link-green"></i>
      <i class="fab fa-linkedin link-green"></i>
      <i class="fab fa-youtube link-green"></i>
    </div>
  </div>
</div>
