<form [formGroup]="form">
  <ho1a-buttom-popover
    [name]="title"
    [buttoms]="buttomsPopover"
    (clickButtom)="onClickButtom($event)" >
    <div buttom-popover-tittle>
      {{ title }}
    </div>
    <div buttom-popover-body>
      <div class="row margin-bottom-10px">
          <mat-form-field class="col-sm-8">
            <input
              matInput
              placeholder="Nombre de usuario"
              formControlName="textSearch">
          </mat-form-field>
          <a class="btn btn-xs btn-primary col-sm-3"
             (click)="onSearchCollaboratorByUserName()">
            <i class="material-icons">search</i>
          </a>
        </div>
      <p class="margin-bottom-10px">{{ result }}</p>
    </div>
  </ho1a-buttom-popover>
</form>
