<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box fullscreen">
      <div class="box-body">
        <div class="row middle-xs margin-top-40px margin-bottom-40px">
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div><!--Este div debe quedar vacio-->
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <img class="img-responsive margin-bottom-20px" src="assets/img/img-error-404.png">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
            <p class="letter-spacing-2px text-rojo text-center-xs">ERROR 404</p>
            <h1 class="text-bold opacity-30 margin-bottom-10px text-center-xs">Algo no salió bien...</h1>
            <p class="text-center-xs">La página a la que intentas accesar no existe o no fue encontrada.</p>
            <p class="text-center-xs">Consulta con tu administrador para más información.</p>
            <div class="btn-group margin-top-20px flex-justify-center-xs">
              <a class="btn btn-primary"
                 routerLink="/mirh/home">
                <i class="material-icons">home</i>Ir a inicio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
