<form [formGroup]="form">
  <div class="row candidato-idoneo">
    <mat-form-field class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-select placeholder="Terna"
                  formControlName="ternaId">
        <mat-option *ngFor="let item of ternas" [value]="item.value">
            {{ item.text }}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <mat-select placeholder="Estatus"
                  formControlName="status">
        <mat-option *ngFor="let item of estatus" [value]="item.value">
          {{ item.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a *ngIf="!ternaIdDisabled && !ternaIdDisabled" class="btn btn-primary margin-bottom-5px col-xs-6 col-sm-6 col-md-6 col-lg-6"
       (click)="oncomplementoCV()">
      <i class="material-icons">edith</i>
      <span class="hidden-xs">Complemento CV</span>
    </a>
  </div>
</form>
