<form [formGroup]="form">
  <div class="modal">
    <div class="modal-box">
      <div class="btn-modal-close"
           (click)="close()">
        <i class="material-icons">close</i>
      </div>
      <div class="modal-box-header">
        <h6>Búsqueda y selección de candidato</h6>
      </div>
      <div class="modal-box-body">
        <div class="margin-top-20px">
          <div class="row margin-bottom-20px">
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <input matInput
                     (keydown)="onKeydown($event)"
                     placeholder="Filtros"
                     formControlName="filtro">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-select placeholder="Puestos"
                          formControlName="puesto"
                          multiple>
                <mat-option *ngFor="let item of puestos" [value]="item.value">
                  {{ item.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-select placeholder="Estatus"
                          formControlName="estatu"
                          multiple>
                <mat-option *ngFor="let item of estatus" [value]="item.value">
                  {{ item.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="divider margin-top-10px margin-bottom-20px"></div>
          <div class="row margin-bottom-20px hidden-xs">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
              <p class="text-bold text-11px">CANDIDATO</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 end-lg end-md end-sm star-xs">
              <p class="text-bold text-11px">PUESTO</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 end-lg end-md end-sm star-xs">
              <p class="text-bold text-11px">ESTATUS</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 end-lg end-md end-sm end-xs">
              <p class="text-bold text-11px"></p>
            </div>
          </div>
          <div class="scroll">
            <ho1a-modal-list-candidate-row
              *ngFor="let item of dataFiltered"
              [data]="item">
            </ho1a-modal-list-candidate-row>
          </div>
        </div>
      </div>
      <div class="modal-box-footer">
        <span class="required" *ngIf="!canAdd()">Solo puede agregar hasta 3 candidatos por evento</span>
        <div class="btn-group right">
          <a class="btn btn-primary"
             *ngIf="canAdd()"
             (click)="onAcceptCustom()">
            <i class="material-icons">save</i>
            <span>Agregar</span>
          </a>
          <a class="btn btn-primary-outline"
             (click)="onCancel()">
            <i class="material-icons">close</i>
            <span>Cancelar</span>
          </a>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</form>
