.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255,255,255,.8);
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader.fullscreen {
  position: fixed;
  z-index: 999;
}

.wrap-loader {
  width: 250px;
  margin: 20px;
  animation-name: word;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.heart{
  width: 250px;
  opacity: 0;
  animation-name: heart;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes heart {
  0% {left: 200px; opacity: 0;}
  20% {left: 0px; opacity: 1;}
  40% {left: 0px; opacity: 1;}
  60% {left: 0px; opacity: 1;}
  80% {left: 0px; opacity: 1;}
  100% {left: 0px; opacity: 1;}
}

@keyframes word {
  0% {left: 240px; opacity: 0;}
  80% {left: 0px; opacity: 1;}
  100% {left: -20px; opacity: 0;}
}

@keyframes logo-metrocarrier {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
