<div class="box">
  <div class="box-header">
    <ho1a-wizard
        (selected)="onSelected($event)"
        [firstStep]="firstStep"
        [processes]="steps">
    </ho1a-wizard>
  </div>
  <ho1a-step-request
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[0]"
        *ngIf="isVisible(0)">
  </ho1a-step-request>
  <ho1a-step-assignment
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[1]"
        *ngIf="isVisible(1)">
  </ho1a-step-assignment>
  <ho1a-step-search
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[2]"
        *ngIf="isVisible(2)">
  </ho1a-step-search>
  <ho1a-step-terna
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[3]"
        *ngIf="isVisible(3)">
  </ho1a-step-terna>
  <ho1a-step-interview
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[4]"
        *ngIf="isVisible(4)">
  </ho1a-step-interview>
  <ho1a-step-interview-result
    [currentStep]="currentStep"
    [data]="data"
    [databackground]="databackground"
    [configuration]="configuration?.componentes[4]"
    *ngIf="isVisible(5) && databackground?.componenteResultadoEntrevista">
  </ho1a-step-interview-result>
  <ho1a-step-economic-offer
        [currentStep]="currentStep"
        [data]="databackground?.propuesta?.candidatoIdoneo"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[5]"
        *ngIf="isVisible(6) && databackground?.propuesta?.candidatoIdoneo">
  </ho1a-step-economic-offer>
  <ho1a-step-alta
        [currentStep]="currentStep"
        [data]="databackground?.propuesta"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[6]"
        *ngIf="isVisible(7) && databackground?.propuesta">
  </ho1a-step-alta>
  <ho1a-step-expedient
        [currentStep]="currentStep"
        [data]="data"
        [databackground]="databackground"
        [configuration]="configuration?.componentes[7]"
        *ngIf="isVisible(8) && databackground?.expediente && isVisibleStepExpedient()">
  </ho1a-step-expedient>
</div>
