<form [formGroup]="form">
  <div class="row middle-xs">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <p class="text-gray">{{ (data.nombre || '') + ' ' + (data.materno || '') + ' ' + (data.paterno || '') }}</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 end-lg end-md end-sm star-xs">
      <p class="text-bold">{{ data.puesto }}</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 end-lg end-md end-sm star-xs">
      <p class="text-bold">{{ data.status }}</p>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 end-lg end-md end-sm end-xs">
      <mat-checkbox formControlName="checked">
      </mat-checkbox>
    </div>
  </div>
  <div class="divider margin-top-10px margin-bottom-10px"></div>
</form>
