<div class="loader" [ngClass]="{'fullscreen':fullscreen}"><!--Si se requiere que el loader ocupe la pantalla completa, agregar una clase mas llamada: fullscreen -->
  <div class="wrap-loader">
    <img class="letter1" src="assets/img/h.png">
    <img class="letter2" src="assets/img/o.png">
    <img class="letter3" src="assets/img/1.png">
    <img class="letter4" src="assets/img/a.png">
  </div>
  <h5 class="text-bold">Cargando...</h5>
  <p class="text-regular">Espere un momento por favor.</p>
  <img class="logo-metrocarrier" src="assets/img/logo-metrocarrier.png">
</div>
