<form [formGroup]="form">
  <!--Body-->
  <div class="box-body" *ngIf="visible()">
    <div class="flex flex-center flex-wrap flex-between margin-bottom-30px">
      <h5>{{ currentStep?.description }}</h5>
    </div>

    <!--Datos generales-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">account_circle</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">CANDIDATO</p>
            <h6 class="text-bold text-16px">{{ (data?.candidatoIdoneo?.nombre || '') + ' ' + (data?.candidatoIdoneo?.paterno || '') + ' ' + (data?.candidatoIdoneo?.materno || '') }}</h6>
          </div>
        </div>
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">account_circle</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">USUARIO DE DOMINIO</p>
            <h6 class="text-bold text-16px">{{ data?.candidatoIdoneo?.userAd }}</h6>
            <div class="row"
                 *ngIf="isVisibleByControl('AsignarUserNameAD')">
              <ho1a-step-interview-buttom
                class="col-xs-12 col-sm-6 col-md-12 col-lg-8"
                [data]="{
                  title: getActionByControl('AsignarUserNameAD').descripcion,
                  tipo: 'asociarUsuarioDominio'
                }">
              </ho1a-step-interview-buttom>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">layers</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">NIVEL DEL TABULADOR</p>
            <h6 class="text-bold text-16px">{{ data.tabulador }}</h6>
          </div>
        </div>
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">monetization_on</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">SALARIO</p>
            <h6 class="text-bold text-16px">{{ salary }}</h6>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">monetization_on</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">BONO</p>
            <h6 class="text-bold text-16px">{{ bonos }}</h6>
          </div>
        </div>
        <div class="row middle-xs margin-bottom-30px">
          <div class="col-xs-3 col-sm-1 col-md-3 col-lg-2">
            <i class="material-icons icon-preview">help</i>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-9 col-lg-10">
            <p class="text-uppercase text-green text-bold text-11px margin-bottom-5px">¿ACEPTA PROPUESTA?</p>
            <h6 class="text-bold text-16px">{{ propuestaAceptada }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="text-uppercase text-green text-bold text-11px margin-left-5px margin-bottom-5px">BENEFICIO</p>
      <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea matInput
                  [disabled]="true"
                  rows="3"
                  class="text-bold text-16px">
        {{ data.beneficios }}
        </textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <p class="text-uppercase text-green text-bold text-11px margin-left-5px margin-bottom-5px">COMENTARIOS</p>
      <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea matInput
                  [disabled]="true"
                  rows="3"
                  class="text-bold text-16px">
        {{ data.comentarios }}
        </textarea>
      </mat-form-field>
    </div>

    <!--Fechas-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5 class="text-bold margin-bottom-30px">Fechas</h5>
      </div>

      <!--Fecha de ingreso-->
      <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-30px">
        <input
          matInput
          [min]="today"
          [readonly]="true"
          [matDatepicker]="pickerfechaingreso"
          placeholder="Fecha de ingreso"
          formControlName="fechaIngreso" >
        <mat-datepicker-toggle matSuffix [for]="pickerfechaingreso"></mat-datepicker-toggle>
        <mat-datepicker #pickerfechaingreso></mat-datepicker>
        <mat-hint>
          <span [innerHTML]="getHintByControl('fechaIngreso')"></span>
        </mat-hint>
        <mat-error>
          <span [innerHTML]="getErrorByControl('fechaIngreso')"></span>
        </mat-error>
      </mat-form-field>

      <!--Notificación de alta-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"
           *ngIf="isVisibleByControl('NotificacionAltaRequisicion_btn')">
        <div class="margin-bottom-30px">
          <a class="btn btn-primary"
             (click)="onNotificationAlta()">
            <i class="material-icons">send</i>
            <span class="hidden-xs">{{ getActionByControl('NotificacionAltaRequisicion').descripcion }}</span>
          </a>
        </div>
      </div>
      <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-30px"
                      *ngIf="isVisibleByControl('NotificacionAltaRequisicion')">
        <input
          matInput
          [readonly]="true"
          [disabled]="true"
          [matDatepicker]="pickerfechanotificacionalta"
          placeholder="Fecha de notificación de alta"
          formControlName="fechaNotificacionAlta" >
        <mat-datepicker-toggle matSuffix [for]="pickerfechanotificacionalta"></mat-datepicker-toggle>
        <mat-datepicker #pickerfechanotificacionalta></mat-datepicker>
      </mat-form-field>

      <!--Confirmación de alta-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"
           *ngIf="isVisibleByControl('ConfirmacionAltaRequisicion_btn')">
        <div class="margin-bottom-30px">
          <a class="btn btn-primary"
             (click)="onConfirmationAlta()">
            <i class="material-icons">send</i>
            <span class="hidden-xs">{{ getActionByControl('ConfirmacionAltaRequisicion').descripcion }}</span>
          </a>
        </div>
      </div>
      <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-30px"
                      *ngIf="isVisibleByControl('ConfirmacionAltaRequisicion')">
        <input
          matInput
          [readonly]="true"
          [disabled]="true"
          [matDatepicker]="pickerfechaconfirmacionalta"
          placeholder="Fecha de confirmación de alta"
          formControlName="fechaConfirmacionAlta" >
        <mat-datepicker-toggle matSuffix [for]="pickerfechaconfirmacionalta"></mat-datepicker-toggle>
        <mat-datepicker #pickerfechaconfirmacionalta></mat-datepicker>
      </mat-form-field>
    </div>

    <!--Documentos-->
    <div class="divider margin-bottom-30px"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5 class="text-bold margin-bottom-30px">Documentos</h5>
      </div>
        <ho1a-upload-files class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                           [readonly]="true"
                           [withtemplate]="true"
                           [documents]="data?.documentosPropuesta"
                           (delete)="onDelete($event)"
                           (upload)="onUpload($event)">
        </ho1a-upload-files>
    </div>

  </div>
</form>

<!--Footer-->
<div class="box-footer flex flex-center flex-wrap flex-between" *ngIf="visible()">
</div>
