<div class="wrap-terna margin-bottom-30px" *ngIf="data?.ternaId !== 0"><!--Se cambio la clase margin-bottom-40px por margin-bottom-30px-->
  <div class="title-terna flex flex-center flex-wrap flex-between margin-bottom-20px"><!--Se agregó la clase  .title-terna  a este nivel y se cambio la clase margin-bottom-30px por margin-bottom-20px-->
    <h5>{{ data?.terna }}</h5>
    <div class="btn-group">
      <a class="btn btn-xs btn-primary-outline"
         *ngIf="!toggle"
         (click)="onToggle()">
        <i class="material-icons">arrow_downward</i>
        <span class="hidden-xs">Mostrar</span>
      </a>
      <a class="btn btn-xs btn-primary-outline"
         *ngIf="toggle"
         (click)="onToggle()">
        <i class="material-icons">arrow_upward</i>
        <span class="hidden-xs">Ocultar</span>
      </a>
    </div>
  </div>
  <div class="terna"
       [ngClass]="{
      'hide': !toggle
    }">
    <div *ngFor="let row of data?.candidatos; let i = index">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 margin-bottom-10px">
          <div class="number-circle size40px">{{ i + 1 }}</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 margin-bottom-10px">
          <p class="text-regular text-gray">Candidato:</p>
          <p class="text-bold">{{ (row?.nombre || '') + ' ' + (row?.paterno || '') + ' ' + (row?.materno || '') }}</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="row">
            <div *ngFor="let entrevista of row?.entrevistas"
                 class="col-xs-12 col-sm-4 col-md-4 col-lg-4 margin-bottom-20px">
              <p class="text-regular text-gray">{{ entrevista.tipoEntrevista }}</p>
              <p class="text-bold">{{ entrevista?.fechaInicioEntrevista ? formatDate(entrevista?.fechaInicioEntrevista):'' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider margin-top-10px margin-bottom-20px"></div>
    </div>
  </div>
</div>
