<h6 class="text-bold margin-bottom-5px">
  {{ candidate?.tittle }}
  <mat-icon
    *ngIf="hasNotification"
    title="Ha finalizado la captura solicitada"
    class="alert-notify"
    matBadgeOverlap="false"
    matBadgeColor="accent">notification_important</mat-icon>
</h6>
<p class="text-gray flex flex-center">
  <mat-icon class="material-icons margin-right-5px"
            [ngClass]="{
                'text-green': candidate?.data?.statusCandidato === 1,
                'text-gray': candidate?.data?.statusCandidato === 0,
                'text-rojo': candidate?.data?.statusCandidato === -1
              }">{{ getStatus(candidate?.data?.statusCandidato).icon }}</mat-icon>
  {{ getStatus(candidate?.data?.statusCandidato).text }}
</p>
