<form [formGroup]="form">
  <ho1a-modal-form
    [tittle]="data?.event?.tittle"
    [form]="form"
    [buttoms]="butttom"
    (cancel)="onCancel()"
    (clickButtom)="onClickButtom($event)">
    <div modal-body>
      <div class="row margin-top-10px margin-bottom-20px">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
              <i class="material-icons text-40px">account_circle</i>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
              <p class="text-gray text-14px">Candidato entrevistado:</p>
              <h6 class="">{{ (data?.nombre || '') + ' ' + (data?.paterno || '') + ' ' + (data?.materno || '') }}</h6>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
              <i class="material-icons text-40px">account_circle</i>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
              <p class="text-gray text-14px">Entrevistador:</p>
              <h6 class="">{{ data?.event?.entrevistador }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-5px">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-bold text-11px text-uppercase">Empresa: <span class="text-gray text-11px">{{ data?.detalle?.ultimoTrabajo?.empresa }}</span></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-bold text-11px text-uppercase">Puesto: <span class="text-gray text-11px">{{ data?.detalle?.ultimoTrabajo?.puesto }}</span></p>
        </div>
      </div>
      <div class="row margin-bottom-20px">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p class="text-bold text-11px text-uppercase">Certificación</p>
          <span class="text-gray text-11px">{{ data?.detalle?.certificacion ? 'SI':'NO' }}</span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p class="text-bold text-11px text-uppercase">Salario</p>
          <span class="text-gray text-11px">{{ data?.detalle?.ultimoSalarioDescripcion }}</span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <p class="text-bold text-11px text-uppercase">Pretensión económica</p>
          <span class="text-gray text-11px">{{ data?.detalle?.pretencionEconomica | currency }}</span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p class="text-bold text-11px text-uppercase">Años experiencia</p>
          <span class="text-gray text-11px">{{ data?.detalle?.experiencia }}</span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" *ngIf="data?.detalle?.cv?.path">
          <p class="text-bold text-11px text-uppercase">CV</p>
          <a target="_blank" [href]="data?.detalle?.cv?.path" class="text-gray material-icons cursor-pointer">file_download</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="wrap-competencias">
            <div class="row between-xs margin-bottom-20px hidden-xs">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h6 class="text-bold text-11px text-uppercase">Competencia</h6>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h6 class="text-bold text-11px text-uppercase text-right">Calificación</h6>
              </div>
            </div>
            <div class="competencia row between-xs middle-xs margin-bottom-10px"
                 *ngFor="let item of data?.event?.data?.competencias; let i = index">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h6 class="text-bold">{{ item.descripcion }}</h6>
              </div>
              <ho1a-rating class="col-xs-12 col-sm-6 col-md-6 col-lg-6 start-xs"
                           [readOnly]="readonly"
                           [rating]="item.resultado"
                           [maxRating]="5"
                           (ratingClicked)="onRatingClicked($event, item, i)">
              </ho1a-rating>
            </div>
            <div class="row middle-xs margin-top-20px margin-bottom-40px">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ponderado flex middle-xs between-xs">
                  <h6 class="text-bold">Total ponderado</h6>
                  <h3 class="text-right text-left-xs">{{ total }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 hidden-xs hidden-sm"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="flex between-xs">
                <h6 class="">¿El candidato es recomendable?</h6>
                <div *ngIf="readonly">
                  <i class="material-icons margin-left-10px yes active"
                     title="Si"
                     *ngIf="recomended" ><!-- Agregar clase .active -->
                    thumb_up
                  </i>
                  <i class="material-icons margin-left-10px no active"
                     title="No"
                     *ngIf="recomended === false"><!-- Agregar clase .active -->
                    thumb_down
                  </i>
                </div>
                <div *ngIf="!readonly">
                  <i class="material-icons icon-selectable margin-left-10px yes"
                     title="Si"
                     [ngClass]="{ active: recomended }"
                     (click)="onSetRecomended(true)"><!-- Agregar clase .active -->
                    thumb_up
                  </i>
                  <i class="material-icons icon-selectable margin-left-10px no"
                     title="No"
                     [ngClass]="{ active: recomended === false }"
                     (click)="onSetRecomended(false)"><!-- Agregar clase .active -->
                    thumb_down
                  </i>
                </div>
              </div>
              <div class="margin-bottom-30px flex between-xs">
                  <span class="font-size-75"
                        [ngClass]="{
                          'required': showAsRequired('recomendable') && !readonly,
                          'readOnly': !showAsRequired('recomendable') || readonly
                        }"
                        [innerHTML]="'Requerido'"></span>
              </div>
            </div>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px">
              <textarea matInput
                        placeholder="Fortalezas"
                        formControlName="fortalezas">
              </textarea>
              <mat-hint>
                <span
                  [ngClass]="{
                    'required': showAsRequired('fortalezas') && !readonly
                  }"
                  [innerHTML]="'Requerido'"></span>
              </mat-hint>
              <mat-error *ngIf="!readonly">
                <span [innerHTML]="'Requerido'"></span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px">
              <textarea matInput
                        placeholder="Debilidades"
                        formControlName="debilidades">
              </textarea>
              <mat-hint>
                <span
                  [ngClass]="{
                    'required': showAsRequired('debilidades') && !readonly
                  }"
                  [innerHTML]="'Requerido'"></span>
              </mat-hint>
              <mat-error *ngIf="!readonly">
                <span [innerHTML]="'Requerido'"></span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-30px">
              <textarea matInput
                        placeholder="Comentarios"
                        formControlName="comentarios">
              </textarea>
              <mat-hint>
                <span
                  [ngClass]="{
                    'required': showAsRequired('comentarios') && !readonly
                  }"
                  [innerHTML]="'Requerido'"></span>
              </mat-hint>
              <mat-error *ngIf="!readonly">
                <span [innerHTML]="'Requerido'"></span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </ho1a-modal-form>
</form>
